<!DOCTYPE html>
<html lang="en">

<head>
    <title>Homepage</title>

    <%- include('./partials/head') %>
    <style>
      
  </style>   
</head>

<body>
    
    <%- include('./partials/scripts') %>
    <%- include('./partials/nav') %>
    <div class="container mt-3 row row-cols-4 ">
        <% blogs.forEach(blog => { %>
         <div class="col">

           <div class="card col" >
               <img src="<%= blog.coverImage %>" class="card-img-top">
               <!-- <%= JSON.stringify("multer segment ",blog.coverImage) %> -->
               <div class="card-body">
                 <h5 class="card-title"><%= blog.title %></h5>
                 <a href="/blog/<%= blog._id %>" class="btn btn-primary">view</a>
               </div>
             </div>
         </div>
        <% }) %>
    </div>

</body>

</html>